.embedded-material {
  margin: 0 0 1em;
}
.embedded-material a {
  text-decoration: none;
}
.embedded-material a:hover, .embedded-material a:focus {
  text-decoration: underline;
}

.embed-dialog-textarea {
  width: 100%;
}
.embed-dialog-tabpanel {
  width: 100%;
  min-height: 130px;
}
.embed-dialog-content-buttons {
  display: flex;
  justify-content: flex-end;
}
