* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans",
    "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
}

:root {
  font-size: 13px !important;
  line-height: 24px !important;
  vertical-align: baseline !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-variant: normal !important;
  text-decoration: none solid rgba(24, 28, 43) !important;
}

body {
    margin: 0;
}

.full-width {
  width: 100%;
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: stretch;
}
